

body{
  margin:0;
  padding:0;
  width: 100%;
  height: 100%;
}

                                             /* NavBar */
nav{
  background-color: gray;
  opacity: 97%;
  display:flex;
  width: 100%;
  justify-content:space-around;
  align-items: center;
  position:fixed;
}

nav div:first-child{
  width:15%;
}

.ulNavbar {
  display:flex;
  list-style:none;
  align-items:center;
  justify-content:center;
  margin: 0px;
}

.ulNavbar li a{
  margin:15px;
  color: black;
  text-decoration:none;
  transition-property: color;
  transition-duration:.5s
}
.ulNavbar li a:hover{
  color:white;
}

ul img{
  height:20px;
  width:20px;
}

.logoImage{
  height:40px;
  width:40px;
  /* padding-left:30px; */
}

.ulIcons{
  list-style:none;
  display:flex;
  justify-content: space-around;
  align-items: center;
  width: 15%;
}
                                            /* Footer */
footer{
  display:flex;
  justify-content: center;
}

.renglon{
  width:65%;
  margin-top: 5px;
  padding-top:5px;
  border-top: 1px solid gray;
  margin-bottom: 5px;
  display:flex;
  /* justify-content:center */
}

.cR{
  font-size: 12px;
  width: 58%;
  /* margin-top: 5px; */
}

.footerUlContainer{
  display:flex;
  list-style:none;
  align-items:center;
  justify-content:center;
  margin: 0px;
  padding: 0px;
  /* padding-right: 200px; */
  width:100%;
}

.footerUlContainer li a{
  font-size: 12px;
  padding:0 10px 0 10px;
  border-right: 1px solid gray;
  text-decoration: none;
  color:black;
}
.footerUlContainer li a:hover{
  text-decoration: underline;
}

.language{
  text-decoration: none;
  color:black;
}
.language:hover{
  text-decoration: underline;
}

.footerUlContainer li:last-child{
  border-right: 0px;
}

.renglon div:last-child{
  /* padding-right: 10px; */
}

